
<div class="well span3" style ="margin-right: 100px"> 
 <div><b><font size="3px">New Activity Title</font></b><br/>
      <%= text_field_tag :new_activity_title %></div><br/>

<div><b><font size="3px">New Activity Description</font></b><br/>
      <%= text_field_tag :new_activity_description %></div><br/>

<div id='em_new_activity'> </div>     
</div>

