<div style= "height:20px">
</div>
<div class="well span5" style ="margin-right: 400px"> 
	<table>
		<tr>
			<td align ="center"><b><font size="3px">Activity Title</font></b>&nbsp&nbsp</td>
			<td align ="center"><b><font size="3px">Activity Description</font></b></td>
		</tr>

		<tr>	
			<td align ="center"><%= text_field_tag :new_activity_title %>&nbsp&nbsp</td>
		
			<td align ="center"><%= text_field_tag :new_activity_description %></td>
		</tr>
 	</table>
</div>

