<div class="well span3" style ="margin-right: 100px">
 <div><b><font size="3px">New Category </font></b><br/>
  <%= text_field_tag :new_category_name %></div><br/>

 <div><b><font size="3px">Event Type Description</font></b><br/>
      <%= text_field_tag :new_category_description %></div><br/>
 <div id='em_new_category'> </div>
</div>

