<div class= "well pull right span8" style = "min-height:500px; margin-left:50px"> 
<div>
  <h1> Edit Event </h1>
  <%=render 'form' %>
<%= link_to 'Manage Expenses', event_expenses_path(@event) %> |
<%= link_to 'View', event_path(@event) %> |
<%= link_to 'Back', events_path %>

</div>
</div>