<div id="wrapper-dash">
  <div id="header-wrapper-dash">
    <div id="header-dash">
      <div id="menu1">
        <ul>
          <li class="current_page_item"><%=link_to "Gallery", gallery_events_path%></li>
        </ul>
      </div>
      <div id="logo">
        <h1 style="color:white">M.F.C</h1>
        <p>Firm Fun Committee</p>
      </div>
      <div id="menu2">
        <ul>
          <li><%=link_to "Contact Us", contact_us_events_path%></li>
        </ul>
      </div>
    </div>
    <!-- end #header -->
  </div>

  <div id="welcome">
    <h2 class="title"><a href="#">Welcome to MFC </a></h2>
    <div class="entry">
      <p>This is a fun side of <strong>Firm ODC</strong>. A committee which deals with all the fun activities to be organized within the ODC. The floor meetings of every month is an initiative taken by MFC to update the associates of the current month's activities.</p>
    </div>
  </div>

  <div id="welcome">
  <div id="page-dash">
<h2 style ="color: white;">Coming Soon</h2>
<%= link_to 'Back', dashboard_events_path %>

</div>
</div>
</div>