<div class= "well pull right span8" style = "min-height:500px; margin-left:50px"> 
 <div>
   <h2> Add New Event </h2>
   <br/>
   <%=render 'form' %>
   <div class="actions"> <%= link_to 'Cancel', events_path %> </div>
 </div>
</div>


