
<div class ="pull-right" style="min-height: 200px; width: 750px; margin-right:200px">
  <div class="flexslider">
      <ul class="slides">
        <li>
           <img src="/assets/2.PNG" />     
         </li>

        <li>   
           <img src="/assets/2.PNG" /> 
        </li>   

       <li>       
          <img src="/assets/2.PNG" />  
       </li>   

      <li>    
         <img src="/assets/2.PNG" />   
      </li>   
    </ul> 
  </div>  
</div>

<div class ="well span7 pull-right" style="height: 125px ;margin-right:225px">
<h2 align ="center"><font face= "serifa" color="0099FF"><i>Welcome   To    MFC    Portal</i></font></h2>
<p><font face= "serifa" color="gray"><i> Hi! This is a portal to capture all the events happening in and around Firm ODC. Check out all the latest and upcoming events in the 'Events Tab'. Hope  you like the site!</i></font></p>
  </div>
