<%= form_for (@category) do |f| %>
    <div><b><font size="3px">Type</font></b><br/>
     <%= f.text_field :name %></div><br/>

    <div><b><font size="3px">Description</font></b><br/>
      <%= f.text_area :description, :rows => 5 %></div><br/>

    <div style="height: 20px">
    </div>

    <div class="actions" ><%= f.submit%>
    </div>

  <%end%>
