<%= render 'shared/admin' %>
<div class= "well pull right span8" style = "min-height:500px; margin-left:50px">
  <h2> Edit Category </h2>
  <br/>
  <%=render 'form' %>

  <%= link_to 'Back', categories_path %>

</div>