<div class= "well pull right span8" style = "min-height:500px; margin-left:50px"> 
  <h1> Add New Activity </h1>
  <%=render 'form' %>
  <div class="actions"> <%= link_to 'Cancel', activities_path %> </div>
</div>