
<%= form_for ([@event, @expense]) do |f| %>
  <div><b><font size="3px">Description</font></b><br/>
    <%= f.text_area :description, :rows => 5 %></div><div id='em_expense_description' class = "errors"> </div><br/>

  <div><b><font size="3px">Amount</font></b><br/>
    <%= f.text_field :amount %></div><div id='em_expense_amount' class = "errors"> </div><br>

  <div class="actions" id= "expense_form_submit" ><%= f.submit%>
  </div>

<%end%>