<div class= "well pull right span8" style = "min-height:500px; margin-left:50px"> 
  <h2> Add New Expense </h2>
  <br/>
   <%=render 'form' %>
  <div class="actions"> <%= link_to 'Cancel', event_expenses_path %> </div>
</div>



